html {
  min-height: 100%;
  position: relative;
}

body{
  background-color: black;
  color: white;
  font-family: 'Varela Round';
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li{
  font-size: 1.5rem;
}
.navbar-nav  li a:hover {

    color: #1abc9c !important;
}

.post{
  width:40%;
  text-align: center;
  display: inline-block;
}

.thumbs-up{
  color: red;

}
