html {
  min-height: 100%;
  position: relative;
}

body{
  background-color: black;
  color: white;
  font-family: 'Varela Round';
}

h1{
  font-family:'Varela Round';
  font-size: 5rem;
  background: -webkit-linear-gradient(rgba(255,255,255,.9),rgba(255,255,255,0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 5%;
}
.container{
  width:50%;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li{
  font-size: 1.5rem;
}
.navbar-nav  li a:hover {

    color: #1abc9c !important;
}

.post{
  width:30%;
  text-align: center;
  display: inline-block;
}

.secret{
  text-align: center;
  background-color: #292b2c;
  padding-top:2%;
  padding-right:2%;

}


.secret-text{
  display: inline-block;
  font-size: 1.3rem;

}


.thumbs-up{
  color: red;

}
